.form-rows-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-rows-3 > .form-group {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  max-width: 33%;
  padding-right: 10px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.form-rows-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-rows-2 > .form-group {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  max-width: 49%;
  padding-right: 10px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}


.form-rows-2 > .kaiju-form__boolean {
  padding-top: 1rem !important;
  margin-top: 1rem !important;
}

.form-rows-3 > .kaiju-form__boolean {
  padding-top: 1rem !important;
  margin-top: 1rem !important;
}

