

.labelInfo {
    position: absolute;
    top: 0px;
    right: 0px;
}

.required {
    min-height: 7px;
    display: inline-block;
    position: absolute;
    left: -12px;
    top: 7px;
    border-radius: 50%;
    width: 7px;
    background-color: #f8c600;
}